<div class="hr-box">
  <div class="hr-box-sm hr-box-red"></div>
  <div class="hr-box-sm hr-box-orange"></div>
  <div class="hr-box-sm hr-box-yellow"></div>
  <div class="hr-box-sm hr-box-green"></div>
  <div class="hr-box-sm hr-box-blue"></div>
  <div class="hr-box-sm hr-box-purple"></div>
</div>
