#my-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;

  .header-container {
    display: flex;
    padding: 10px;

    > * {
      flex: 1;
    }

    .header-hamburger {
      position: absolute;
      top: 10px;
      left: 10px;

      a {
        cursor: pointer;

        &:focus {
          color: #000000;
        }
      }
    }

    .header-logo {
      text-align: center;
      flex: 100%;

      img {
        max-width: 250px;
      }
    }
  }
}
