.header-container {
  display: flex;
  padding: 10px;

  > * {
    flex: 1;
  }

  .header-hamburger {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .header-logo {
    text-align: center;
    flex: 100%;

    img {
      max-width: 250px;
    }
  }
}
