.hr-box {
  display: flex;
  width: 100%;
  height: 8px;
  margin: 20px 0;
}

.hr-box-sm {
  height: 8px;
  margin: 0;
  flex-grow: 1;
  transition: all .8s ease-in-out;
}

.hr-box-sm:hover {
  flex-grow: 12;
}

.hr-box-red {
  background-color: #FF5852;
}

.hr-box-orange {
  background-color: #FF9000;
}

.hr-box-yellow {
  background-color: #FFD300;
}

.hr-box-green {
  background-color: #3DCD49;
}

.hr-box-blue {
  background-color: #0089D7;
}

.hr-box-purple {
  background-color: #9E44C4;
}
