.instances-list {
  padding: 10px 20px;

  .instance-private-url {
    overflow-wrap: break-word;
  }

  .instance-item {
    &:nth-of-type(1) {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
  
  .hr-box:last-child {
    display: none;
  }
}

.instance-home-banner-1 {
  margin-bottom: 40px;

  img {
    max-width: 100%;
  }
}
