#my-menu {
  background-color: #ffffff;
}

.mm-spn li:after {
  margin-left: 0;
}

.mm-spn ul {
  background: image-url('pixels.png');

  li {
    background: rgba(255, 255, 255, 0.9);
    font-size: 2rem;
  }
}

.mm-spn.mm-spn--navbar:after {
  color: #000000;
}

.mm-spn.mm-spn--navbar:after,
.mm-spn li:before {
  opacity: 1;
  z-index: 2;
  font-size: 2.5rem;
}

.mm-spn.mm-spn--light {
  color: var(--main-color);
}
