html,
body,
#my-page {
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body,
#my-page,
#my-content,
.room-chat {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#my-content {
  margin-bottom: 0;
}

#my-content {
  height: calc(100vh - 120px);
}

.room-chat,
.room-chat-messages {
  max-height: 100%;
}

.room-chat-messages {
  display: flex;
  flex-direction: column;
}

.message-area {
  flex-grow: 1;
}

.message-form {
  form {
    margin-bottom: 0;
  }
}
